.signup_Section {
  margin: 0;
  display: inline-block;
  place-items: center;
  min-width: 500px;
  min-height: 80vh;
  text-align: center;
  margin-top: 10px;
  margin-left: 550px;;
}


.loginSection {
  margin: 0;
  display: inline-block;
  place-items: center;
  min-width: 400px;
  min-height: 100vh;
  text-align: center;
  margin-top: 100px;
  margin-left: 550px;;
}
.overlay-image{
  height: 40px;
  width: 40px;
  border: 0px;
  border-radius: 50%;
  opacity: 1;
  margin-right: 5px;
  padding: 1px;
  position: absolute;
} 
.loaderImg{
  border: 0px;
  border-radius: 50%;
  opacity: 1;
 margin-top: 200px;
 margin-left: 700px;
} 
.featurette-image{
  width: 500px;
   height: 500px;
}
.home_first_div{
  padding: 20px;
}
.header{
  padding: 10px;
}
.login_img{
  height: 100;
  width: 100;
  border: 0px;
  border-radius: 50%;
}

.signout_btn{
  padding: 5px; 
}
.logged_user{
  margin-top: 0 rem ;
  margin-bottom: 0 rem;
}
.signup_img{
  height: 80;
  width: 80;
  border: 0px;
  border-radius: 50%;
}